body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

.container {
    width: 450px;
    margin: auto;
    padding-top: 40px;
}

h1, h2 {
    text-align: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border-radius: 5px;
    border: none;
}

button {
    background: #38bdf8;
    cursor: pointer;
}

.primary-btn, .secondary-btn, .danger-btn {
    display: block;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.primary-btn { background: #22c55e; color: black; }
.secondary-btn { background: #64748b; color: white; }
.danger-btn { background: #ef4444; color: white; }

.graph-selector {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

img {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

.student-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 14px;
}

.student-table th,
.student-table td {
    border: 1px solid #334155;
    padding: 8px;
    text-align: center;
}

.student-table th {
    background: #1e293b;
}

.student-table tr:nth-child(even) {
    background: #0f172a;
}

.buttons {
    display: flex;
    gap: 10px;
}
